  
  .crust {
    width: 500px;
    height: 500px;
    background: burlywood;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
  }
  
  .cheese {
    width: 400px;
    height: 400px;
    background: gold;
    border-radius: 200px;
    position: relative;
    top: -450px;
    left: 50px;
  }
  
  .pepperoni {
    width: 75px;
    height: 75px;
    background: firebrick;
    border-radius: 37.5px;
  }
  
  .pep1 {
    position: relative;
    top: -800px;
    left: 125px;
  }
  
  .pep2 {
    position: relative;
    top: -730px;
    left: 80px;
  }
  
  .pep3 {
    position: relative;
    top: -700px;
    left: 215px;
  }
  
  .pep4 {
    position: relative;
    top: -925px;
    left: 210px;
  }
  
  .pep5 {
    position: relative;
    top: -1100px;
    left: 300px;
  }
  
  .pep6 {
    position: relative;
    top: -1027px;
    left: 350px;
  }
  
  
    .pepper {
      width: 90px;
      height: 90px;
      background:green;
      border-radius: 37.5px;
    }
    
    .pepper1 {
      position: relative;
      top: -1030px;
      left: 120px;
    }
    
    .pepper2 {
      position: relative;
      top: -1280px;
      left: 80px;
    }
    
    .pepper3 {
      position: relative;
      top: -1200px;
      left: 300px;
    }
    
    .pepper4 {
      position: relative;
      top: -1560px;
      left: 200px;
    }
    
    .pepper5 {
      position: relative;
      top: -1550px;
      left: 300px;
    }
  